[Unit]
Description=IPP Printer (ippeveprinter)
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/usr/sbin/ippeveprinter \
    -v \
    -k \
    -D file:///home/pi/PDF \
    -p 8631 \
    -f application/pdf,image/pwg-raster,image/urf \
    -c /usr/local/bin/ipp-save \
    USB-IPP-Printer
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
